<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body>
<header>
</header>
<div class="blog">
    <p>Список сотрудников</p>
        <table>
            <thead>
            <th>ID</th>
            <th>Регистрационный номер</th>
            <th>Марка</th>
            <th>Год выпуска</th>
            <th>Номер маршрута</th>
            <th>Сидящих мест</th>
            <th>Всего пассажиров</th>
            <th>Сейсас пассажиров</th>
            <th>Открыты ли двери</th>
            </thead>
            <tr th:each="bus: ${list}">
                <td th:text="${bus.getId}"></td>
                <td th:text="${bus.getNumber}"></td>
                <td th:text="${bus.getBrand}"></td>
                <td th:text="${bus.getYear}"></td>
                <td th:text="${bus.getNumberRout}"></td>
                <td th:text="${bus.getSeating}"></td>
                <td th:text="${bus.getTotalCapacity}"></td>
                <td th:text="${bus.getPassengersNow}"></td>
                <td th:text="${bus.getDoor}"></td>
                <td><a th:href="@{/admin/edit/{id}(id=${bus.getId})}"
                       class="btn3">Изменить</a></td>
            </tr>
        </table>
    </form>
    <form th:action="@{/admin/new}" method="get">
        <button class="btn1 button" type="submit" method="get" >Добавить автобус</button>
    </form>
</div>
</body>

</html>